body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 100%;
    max-width: 720px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 90%;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

#chat-messages {
    margin-bottom: 10px;
    padding: 10px 15px;
    border-radius: 20px;
    word-wrap: break-word;
    flex: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.chat-message {
    padding: 10px 15px;
    border-radius: 20px;
    word-wrap: break-word;
    margin-bottom: 10px;
    max-width: 450px
}

.user-message {
    background-color: #007bff;
    color: #fff;
    align-self: flex-end;
}

.bot-message {
    background-color: #d3d3d3;
    color: #000;
    align-self: flex-start;
}

#chat-form {
    display: flex;
    border-top: 1px solid #ddd;
    padding: 10px;
}

#chat-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    margin-right: 10px;
}

#chat-input:focus {
    outline: none;
    border-color: #007bff;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}